.hau-cart-holder{
    /*display: grid;*/
    /*grid-template-columns: 50px auto auto auto auto;*/
}
.hau-cart-header{
    background-color: #FFF4F9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hau-cart-button{
    color: #FFF4F9;
    margin: 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #FF7B9B;
    cursor: pointer;
}
.hau-cart-item{
    display: flex;
    margin: 5px;
}
.hau-cart-item-name{
    width: 350px;
    font-weight: bold;
    font-size: 18px;
}

.hau-cart-item-price, .hau-cart-item-totalPrice{
    width: 100px;
    font-size: 15px;
}
.hau-cart-item-qty{
    text-align: center;
    height: 20px;
    width: 50px;
    font-size: 15px;
    border: 1px solid #FF7B9B;
    border-radius: 5px;
}

.hau-cart-item > *{
    display: inline-block;
    color: #FF7B9B;
    margin: 5px;
}
.hau-cart-item-remove{
    color: #FF7B9B;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: #FFF4F9;
    border: 1px solid #FF7B9B;
    border-radius: 5px;
}
.hau-cart-item-checkbox{
    accent-color: #FF7B9B;
}