.products-inpage{
    display: grid;
    grid-template-columns: 80% 20%;
}

.products-inpage label{
    font-size: 0.8rem;
}

.hau-product-view{
    display: grid;
    grid-template-columns: 20% auto;
}

.hau-control-container{
}

.hau-product-view-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}