*{
    padding: 0;
    margin: 0;
}

.hau-topmenu-container{
    display: flex;
    background-color: #FF7B9B;
    flex-direction: row;
}

.hau-topmenu-item{
    text-align: center;
    display: inline-flex;
    width: 100px;
    /* border: 1px solid aliceblue; */
    color: #fff;
    height: 50px;
    overflow: hidden;
}

.hau-topmenu-item a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.hau-product-item > *{
    display: block;
}